@import 'pianonote';

.Pianoroll {
    position: relative;
    width: 800px;
    height   : 200px;
    background: #FFDDCC;
    overflow : scroll;
    border   : 1px solid red;

    &__NotesWrapper {
        width    : 740px;
        height   : 1280px;
        position : absolute;
        top      : 0;
        left     : 60px;
        overflow : scroll;
    }
    &__Notes {
        background: #FFDDCC;
    }
    &__Note {
        position   : absolute;
    }

    &__Keys {
        width  : 60px;
        height : 1280px;
    }

    &__Key {
        display : block;
        width   : 100%;
    }
}
