.SessionView {
    display: block;
    width   : 100%;
    height  : 300px;
    border  : 1px solid #0088FF;
    user-select : none;
}

.SessionView__Row {
    display: block;
}

.SessionView__Cell {
    display: inline-block;
    width  : 100px;
    height : 20px;
    border : 1px solid #0df;

    &--selected {
        @extend .SessionView__Cell;
        background-color : #99ddff;
    }
}
