li {
    color: blue;
}

.SessionView {
    display: block;
    width   : 100%;
    height  : 300px;
    border  : 1px solid #0088FF;
}

.SessionView__Row {
    display: block;
}

.SessionView__Cell {
    display: inline-block;

    width  : 100px;
    height : 20px;
    border : 1px solid #0df;
}


.ClipView {
    display : block;
    width   : 100%;
    height  : 300px;
    border  : 1px solid #FF8800;
}


.SongInfo {
    display : block;
    width   : 100%;
    height  : 300px;
    border  : 1px solid #888888;
}
