li {
    color: blue;
}

.SessionView {
    display: block;
    width   : 100%;
    height  : 300px;
    border  : 1px solid #0088FF;
}

.SessionView__Row {
    display: block;
}

.SessionView__Cell {
    display: inline-block;
    width  : 100px;
    height : 20px;
    border : 1px solid #0df;

    &--selected {
        @extend .SessionView__Cell;
        background-color : #99ddff;
    }
}

.ClipView {
    display : block;
    width   : 100%;
    height  : 300px;
    border  : 1px solid #FF8800;
}

.Pianoroll {
    position: relative;
    width: 800px;
    height   : 200px;
    background: #FFDDCC;
    overflow : scroll;
    border   : 1px solid red;

    &__NotesWrapper {
        width    : 740px;
        height   : 1280px;
        position : absolute;
        top      : 0;
        left     : 60px;
        overflow : scroll;
    }
    &__Notes {
        background: #FFDDCC;
    }
    &__Note {
        position   : absolute;
        background : #FF8888;
    }

    &__Keys {
        width  : 60px;
        height : 1280px;
    }

    &__Key {
        display : block;
        width   : 100%;
    }
}


.SongInfo {
    display : block;
    width   : 100%;
    height  : 300px;
    border  : 1px solid #888888;
}
